<% provide(:title, "Help") %>
<h1>Help</h1>
<p>Get help on Ruby
<a href="http://www.google.com" target="_blank">Google</a>.
Get the help on baidu
<a href="http://www.baidu.com" target="_blank"><em>Baidu</em></a>
</p>
